<!--<br>Hôm nay là ngày 18/3/16</br>-->
<!--<h1>Hôm nay không nắng cũng không mưa</h1>-->
<!--<button class="btn btn-success">A ní mồ</button>-->
<% @articles.each do |a| %>
<%= a.title %> </br>
<%= a.content %> </br>
<% end %>
